@import "../../variables";

.waypoint-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0;
    
    .drag-icon {
        cursor: pointer;
    }

    svg {
        fill: $gray;
        width: 15px;
        height: 15px;
    }

    .remove {
        cursor: pointer;
    }

    .waypoint-title {
        flex: 1;
        margin-left: 5px;
    }

    .drop-zone {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;

        &.visible {
            display: block;
        }
        
        &.active {
            border-top: 2px solid $white;
        }
    }
}